<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Untitled Document</title>
<style>
@media only screen and (max-width: 480px){
.container{width:100% !important;}
.padLR15{padding:0 15px !important;}
.padLR20{padding-left:20px !important; padding-right:20px !important;}
.padB10{padding-bottom:10px !important}
}

</style>
</head>

<body bgcolor="#EAEAEB" style="padding:0; margin:0; width:100%;" yahoo="fix">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#eaeaeb">
  <tr>
    <td class="container" width="640" align="center" valign="top" style="padding-bottom:40px;">
      <table class="container" width="640" border="0" cellpadding="0" align="center" cellspacing="0">
        <!-- view browser content -->
        <tr>
         <td width="100%" align="left" valign="top" style="padding:5px 0px 10px 0px;">
           <table border="0" cellpadding="0" cellspacing="0">
             <tr>
               <td align="left" valign="top" style="margin: 2px 0; color: #272F38; font-size: 10px; font-family: Arial, sans-serif; line-height: 125%;">Get a 30% Bonus When Converting Hotel Points</td>
             </tr>
             <tr>
               <td align="left" valign="top" style="margin: 2px 0; color: #272F38; font-size: 10px; font-family: Arial, sans-serif; line-height: 125%;"><a target="_blank" href="<%@ include view='MirrorAML' %>" _label="" style="color:#0066cb; text-decoration:none; outline: none;">View in browser</a> | Please do not reply to this email</td>
             </tr>
           </table>
         </td>
        </tr>
        <!-- view browser content ends -->
        <!-- Body -->
        <tr>
          <td width="100%" align="center" valign="top" bgcolor="#ffffff" style="padding-bottom:10px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <!--logo-->
              <tr>
                <td valign="top" align="center"><a target="_blank" href="http://www.asiamiles.com/am/en/homepage&utm_source=esol&utm_medium=email&utm_campaign=hotelconversion&utm_content=hotelconversion-am27ee1612" title="ASIA MILES" alt="ASIA MILES" style="color: #272f38; text-decoration: none; outline: none;"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/7afbbbdf16139cb8f18270f0f4c52cb0.gif" alt="ASIA MILES" width="131" style="border:none;"/></a></td>
              </tr>
              <tr>
                <td width="100%" align="center" valign="bottom" style="line-height: 4px; font-size: 1px;"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/34a3bc6921acc335a39cdcbb9ef75e74.jpg" alt="" width="640" style="max-width:640px; width:100%; display:block; border:none;"/></td>
              </tr>
              <!--logo ends-->
              <!-- Kv Image -->
        	  <tr>
          		<td width="100%" align="center" valign="top"><a target="_blank" href="#" style="color: #272f38; text-decoration: none; outline: none;"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/Hotel_Generic-Content-KV.jpg" alt="Turn Your Last Hotel Stay into Your Next Adventure" title="Turn Your Last Hotel Stay into Your Next Adventure" width="640" style="max-width:640px; width:100%; display:block; border:none;"/></a></td>
              </tr>
              <!-- Kv Image ends -->
              <!-- Main Body -->
              <tr>
                <td class="padLR15" align="center" valign="top" style="padding:0 20px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
              		<!-- Body Heading -->
             		<tr>
               		 <td align="center" valign="top" style="padding:15px 0; color: #272f38; font-size: 16px; font-family: Arial, sans-serif; line-height: 125%; font-weight:bold;">Convert Hotel Points and Get 30% More Miles</td>
              		</tr>
              		<!-- Body heading ends -->
              		<!-- date -->
               		<tr>
              		  <td align="right" valign="top" style="padding-bottom:10px; color: #272f38; font-size: 14px; font-family: Arial, sans-serif; line-height: 125%;">14 Jan, 2016<br> Membership No.:123 456 789</td>
              		</tr>
             		<!-- date ends -->
                    <!-- salutation -->
                    <tr>
              		  <td align="left" valign="top" style="padding-bottom:15px; color: #272f38; font-size: 14px; font-family: Arial, sans-serif; line-height: 125%;">Dear [EMV FIELD]salutation[EMV /FIELD],
</td>
              		</tr>
                    <!-- salutation ends-->
                    <!-- message -->
                    <tr>
              		  <td class="padLR20" align="center" valign="top" style="padding:0 50px 20px 50px; color: #272f38; font-size: 14px; font-family: Arial, sans-serif; line-height: 125%;">Convert the points you earn at your favourite hotels into Asia Miles and get 30% more miles for your next adventures.</td>
              		</tr>
                    <tr>
              		  <td class="padLR20" align="center" valign="top" style="padding:0 50px 20px 50px;  color: #272f38; font-size: 14px; font-family: Arial, sans-serif; line-height: 125%;">From now Until 31 December 2016, convert points from 15 top hotel loyalty programmes into miles and enjoy a 30% bonus on top of our existing conversion rates – bringing you closer incredible award experiences.</td>
              		</tr>
                    <!-- message ends -->
                    <!-- button -->
                    <tr>
                      <td width="100%" align="center" valign="top" style="padding-bottom: 20px;">
                        <table width="280" border="0" cellspacing="0" cellpadding="0" style="border: 2px solid #facf00;">
                          <tr>
                            <td width="100%" align="center" valign="top" style="padding: 12px 15px 11px; color: #272f38; font-size: 14px; font-family: Arial, sans-serif; line-height: 125%;"><a target="_blank" href="#" style="display: block; color: #272f38; text-decoration: none; font-weight:bold;">CREATE YOUR ORNAMENT</a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- button ends -->
                  </table>
                </td>
              </tr>
              <!-- Main Body ends -->
            </table>
          </td>
        </tr>
        <!-- Body ends-->
        <!-- footer -->
        <tr>
          <td width="100%" align="center" valign="top" bgcolor="#272f38">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#272f38">
              <tr>
          		<td width="100%" align="center" valign="bottom" style="line-height: 4px; font-size: 1px;"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/34a3bc6921acc335a39cdcbb9ef75e74.jpg" alt="" width="640" style="max-width:640px; width:100%; display:block; border:none;"/></td>
              </tr>
              <!-- social links -->
              <tr>
                <td width="100%" align="center" valign="top" style="padding: 20px 0px 16px 0px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="left" width="217"></td>
                      <td align="left" width="178">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" width="22" class="icon-sns-fb-td-container">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td align="left" valign="middle" class="icon-sns-fb-container" ><a href="https://www.facebook.com/asiamiles" target="_blank"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/d566f250cc1dc3bf6f833fdb18a445f0.png" width="8" height="18" border="0" style="display: block;" class="icon-sns-fb-image" alt="Facebook" title="Facebook"></a></td>
                                </tr>
                              </table>
                            </td>
                            <td align="left" width="65" ></td>
                            <td align="center" width="22" class="icon-sns-tt-td-container">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td align="left" valign="middle" class="icon-sns-tt-container" ><a href="https://www.twitter.com/asiamiles" target="_blank"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/d05c9a9e5a827ddb59531a327d2ba44e.png" width="22" height="18" border="0" style="display: block;" class="icon-sns-tt-image" alt="Twitter" title="Twitter"></a></td>
                                </tr>
                              </table>
                            </td>
                            <td align="left" width="61" ></td>
                            <td align="center" width="22" class="icon-sns-wb-td-container">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td align="left" valign="middle" class="icon-sns-wb-container" ><a href="http://www.weibo.com/asiamileslimited" target="_blank"><img src="http://res.e.asiamiles.com/res/asiamil_mkt_prod1/db5fef313ceef8e86cbf9e84a224b517.png" width="22" height="18" border="0" style="display: block;" class="icon-sns-wb-image" alt="Weibo" title="Weibo"></a></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td align="left" width="231" ></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- social links ends-->
              <tr>
                <td align="center" valign="top" style=" font-family: Arial; font-size:10px; line-height:13px; color:#FACF00;"><a href="http://www.asiamiles.com/am/en/about/privacy?utm_source=edbm&utm_source=esol&utm_medium=email&utm_campaign=hotelconversion&utm_content=hotelconversion-am27ee1612" target="_blank" style="color:#FACF00; text-decoration:none;" class="footer-links">PRIVACY POLICY</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="footer-spliter">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.asiamiles.com/am/en/account/profile/personal?utm_source=edbm&utm_source=esol&utm_medium=email&utm_campaign=hotelconversion&utm_content=hotelconversion-am27ee1612" target="_blank" style="color:#FACF00; text-decoration:none" class="footer-links">CHANGE YOUR EMAIL ADDRESS</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="footer-spliter">|</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.asiamiles.com/am/en/about/contact?utm_source=edbm&utm_source=esol&utm_medium=email&utm_campaign=hotelconversion&utm_content=hotelconversion-am27ee1612" target="_blank" style="color:#FACF00; text-decoration:none" class="footer-links">CONTACT US</a></td>
              </tr>
              <tr>
                <td align="center" valign="top" style=" font-family: Arial; font-size:10px; line-height:13px; color:#ffffff; padding:5px 30px 4px 30px;" class="appleLinks">Your Account Summary and all other marketing emails are sent from the addresses '<a href="mailto:account@comms.asiamiles.com" target="_blank" style="color: #FFFFFF; text-decoration: none; color:#FACF00;">account@comms.asiamiles.com</a>* and '<a href="mailto:mailto:intouch@comms.asiamiles.com" target="_blank" style="color: #FFFFFF; text-decoration: none;color:#FACF00;">intouch@comms.asiamiles.com</a>'. Remember to accept these email addresses when configuring your email settings or spam filters.</td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-family: Arial; font-size:10px; line-height:13px; color:#ffffff; padding:0px 30px;" class="appleLinks">If you would prefer not to receive any promotional emails, simply log in to <a href="https://www.asiamiles.com/am/en/account/profile/personal?pageTab=CONTACT&utm_source=esol&utm_medium=email&utm_campaign=hotelconversion&utm_content=hotelconversion-am27ee1612" target="_blank" style="color:#FACF00; text-decoration:none">unsubscribe</a>.</td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-family: Arial; font-size:10px; line-height:13px;  color:#ffffff; padding:6px 30px 5px 30px;" class="appleLinks">Asia Miles Limited | 1/F, 12 Tung Fai Road, HKIA, Hong Kong | +852 2747 3838 | <a href="mailto:memberservices@asiamiles.com" target="_blank" style="color:#FACF00; text-decoration:none">memberservices@asiamiles.com</a></td>
              </tr>
              <tr>
                <td align="center" valign="top" style="font-family: Arial; font-size:10px; line-height:14px;  color:#ffffff;" class="appleLinks">&copy;Asia Miles Limited</td>
              </tr>
              <tr>
                <td align="right" valign="bottom" style="font-family: Arial; font-size:10px; line-height:13px; color:#ffffff; padding:4px 30px 10px 0px;" class="appleLinks">AM27EE1612</td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- footer ends -->
      </table>
    </td>
  </tr>
</table>
</body>
</html>
